.Menu{

    border: 0.5px solid #aceed3;
    background-color: #caf3e2; 
    color:black;
    opacity: 100%;
    width: 100%;
    box-shadow: 2px 2px 5px #aceed3;
  }

  .menuRow{
    display: flex;
    flex-direction: row;
  }

  .sidenav{
    transition: all 1s;
      padding: 5%;
    background-color: #caf3e2; 
    color:black;
    text-align: center;
    justify-content:center;
    align-items: center;
    align-content: center;
    border: 0.5px solid #aceed3;
    box-shadow: 2px 2px 5px #aceed3;
    display: none;
    height: 100%;
    width: 20%;
     position: fixed;
     z-index: 6;
     top: 0;
     right:0;
    
  }
  .menuBarre{
    justify-content: right;
    align-content: right;
    align-items: right;
    text-align: center;
    width: 50%;
  }

  .logo{
    justify-content: left;
    align-content: left;
    align-items: left;
    text-align: center;
    width: 50%;
  }

